<div class="container-fluid">
    <div class="row">
        <div style="background: #303030; height: 93vh;" class="col-md-3">
            <div>
                <mat-card class="mt-3">
                    <form [formGroup] = "todoForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Task Name</mat-label>
                            <input formControlName="item" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>add task name</mat-hint>
                        </mat-form-field>
                        <button mat-raised-button [disabled]="todoForm.invalid" color="primary">Add</button>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>